In [2]:
# 2.   Load and Explore Dataset

Import the pandas and numpy package

In [4]:
import pandas as pd
import numpy as np

Load the dataset into dataframe called df

In [5]:
df = pd.read_csv('../data/raw/day.csv')

Display the first 5 rows of df

In [6]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

Display the dimensions (shape) of df

In [7]:
df.shape

(731, 16)

Display the summary (info) of df

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

Display the descriptive statictics of df

In [9]:
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

# 3. Prepare Data

Create a copy of df and save it into a variable called df_cleaned

In [21]:
df_cleaned = df.copy()

Remove the column instant from the dataframe

In [22]:
df_cleaned.drop('instant', axis=1, inplace=True)

 Launch magic commands to automatically reload modules

In [23]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Import your new function convert_to_date from src.features.dates

In [24]:
from src.features.dates import convert_to_date

Task: Convert the column dteday with your function convert_to_date

In [25]:
df_cleaned = convert_to_date(df_cleaned, ['dteday'])

Extract the year component from `dteday` and save the results in the column `yr`

In [26]:
df_cleaned['yr'] = df_cleaned['dteday'].dt.year

Extract the month name component from dteday and save the results in the column mnth

In [27]:
df_cleaned['mnth'] = df_cleaned['dteday'].dt.month_name()

Extract the day of week component from dteday and save the results in the column weekday

In [28]:
df_cleaned['weekday'] = df_cleaned['dteday'].dt.day_name()

Create a dictionary called season_mapping with the following key-value pairs:

In [29]:
season_mapping = {
    1: 'winter',
    2: 'spring',
    3: 'summer',
    4: 'autumn',
}

Remap the values of season to the one specified in season_mapping

In [30]:
df_cleaned['season'] = df_cleaned['season'].map(season_mapping)

 Create a dictionary called weather_mapping with the following key-value pairs:

In [31]:
weather_mapping = {
    1: 'clear',
    2: 'cloudy',
    3: 'rain',
    4: 'heavy'
}

Remap the values of weathersit to the one specified in weather_mapping

In [32]:
df_cleaned['weathersit'] = df_cleaned['weathersit'].map(weather_mapping)

Change the value of holiday to 1 for the observation where dteday is 2011-01-01

In [33]:
df_cleaned.loc[df_cleaned['dteday'] == '2011-01-01', 'holiday'] = 1

Create a new column called `holiday_date` with only missing values and convert this column to datetime

In [34]:
df_cleaned['holidaydate'] = np.nan
df_cleaned = convert_to_date(df_cleaned, ['holidaydate'])

Create a binary variable called holiday_mask that will state which observations have the value 1 in column holiday

In [35]:
holiday_mask = df_cleaned['holiday'] == 1

Change the values of holidaydate to be equals to dteday for all the observations that have the value 1 in column holiday (use holiday_mask)

In [36]:
df_cleaned.loc[holiday_mask, 'holidaydate'] = df_cleaned.loc[holiday_mask, 'dteday']

Create a new column called last_holiday that will be equals to holidaydate but with forward filling for missing values

In [37]:
df_cleaned['last_holiday'] = df_cleaned['holidaydate'].fillna(method='ffill')

Create a new column called last_holiday that will be equals to holidaydate but with back filling for missing values

In [38]:
df_cleaned['next_holiday'] = df_cleaned['holidaydate'].fillna(method='bfill')

Replace missing values for next_holiday with the timestamp '2013-01-01`

In [39]:
df_cleaned['next_holiday'].fillna(pd.Timestamp('2013-01-01'), inplace=True)

Calculate the number of days for each observation between the current date and last holiday date. Save the results in a new column called days_last_holiday

In [40]:
df_cleaned['days_last_holiday'] = (df_cleaned['dteday'] - df_cleaned['last_holiday']).dt.days

Calculate the number of days for each observation between the current date and next holiday date. Save the results in a new column called days_next_holiday

In [41]:
df_cleaned['days_next_holiday'] = (df_cleaned['next_holiday'] - df_cleaned['dteday']).dt.days

Create a variable called cat_cols that contains the names of the categorical columns

In [42]:
cat_cols = ['season','mnth','holiday','weekday','workingday','weathersit']

Perform One-Hot encoding on the categorical features

In [43]:
df_cleaned = pd.get_dummies(df_cleaned, columns=cat_cols)

Save the dataframe in the /data/interim folder

In [44]:
df_cleaned.to_csv('../data/interim/day.csv', index=False)

Remove the following columns: 'dteday', 'holidaydate', 'last_holiday', 'next_holiday'

In [45]:
df_cleaned.drop(['dteday', 'holidaydate', 'last_holiday', 'next_holiday'], axis=1, inplace=True)

# 4. Split Dataset

Import your new function split_sets_by_time and split the data into several sets

In [61]:
from src.data.sets import split_sets_by_time

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(df_cleaned, 'cnt', test_ratio=0.2)

Import your new function and save the sets into the folder data/processed

In [62]:
from src.data.sets import save_sets

save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

# 5. Baseline Model

Calculate the average of the target variable for the training set and save it into a variable called y_mean

In [64]:
y_mean = y_train.mean()

Create a numpy array called y_base of dimensions (len(y_train), 1) filled with this value

In [65]:
y_base = np.full((len(y_train), 1), y_mean)

Display the RMSE and MAE scores of this baseline model

In [66]:
from src.models.performance import print_reg_perf

print_reg_perf(y_preds=y_base, y_actuals=y_train, set_name='Training')

ModuleNotFoundError: No module named 'sklearn'